<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315860111545-i1i5uf1634eb0qcd4jgsn9r8fgeru2gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315860111545-i1i5uf1634eb0qcd4jgsn9r8fgeru2gl</string>
	<key>API_KEY</key>
	<string>AIzaSyAszOs7UA_tB18oiXcqnpfws5V6bN7A38w</string>
	<key>GCM_SENDER_ID</key>
	<string>315860111545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bayteq.notifications</string>
	<key>PROJECT_ID</key>
	<string>bayteqnotifications</string>
	<key>STORAGE_BUCKET</key>
	<string>bayteqnotifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315860111545:ios:ee3f37a4ad8e0e4c7c0b68</string>
</dict>
</plist>